@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/roboto-slab/roboto-slab.eot');
    src: url('../fonts/roboto-slab/roboto-slab.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-slab/roboto-slab.woff2') format('woff2'),
        url('../fonts/roboto-slab/roboto-slab.woff') format('woff'),
        url('../fonts/roboto-slab/roboto-slab.ttf') format('truetype'),
}

:root {
    --gradiant-color: linear-gradient(-45deg, #ff48a5, #ff77bc, #ffaed7);
    --active-color: #ff48a5;
    --active-color-lg: #fff;
    --switch-theme-btn: #000;
    --switch-theme-btn-hover: #ff48a5;
    --switch-theme-btn-hover-lg: #fff;
    --outline-color: #ff48a5;
    --progress-bg: #ff48a5;
    --main-color: #000;
    --bg-color: #fff;
    --form-bg: #fff;
    --button-bg: #ff77bc;
    --shadow-color: rgba(255, 119, 187, 0.4);
    --step-color: #ffdfef;
    --submit-button: #333;

}

body.dark-mode {
    --gradiant-color: linear-gradient(-45deg, #111111, #333333, #555555, #777777);
    --active-color: #000;
    --active-color-lg: #000;
    --switch-theme-btn: #fff;
    --switch-theme-btn-hover: #000;
    --switch-theme-btn-hover-lg: #000;
    --outline-color: #555;
    --progress-bg: #555;
    --main-color: #fff;
    --bg-color: #777;
    --form-bg: #fff;
    --button-bg: #555;
    --shadow-color: rgba(85, 85, 85, 0.4);
    --step-color: #ddd;
    --submit-button: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    background: var(--gradiant-color);
    background-size: 400% 400%;
    animation: bg 15s ease infinite;
    overflow: hidden;
}

@keyframes bg {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

input {
    font-size: inherit;
    font-family: inherit;
}