.switch-mode {
    position: absolute;
    left: 1rem;
    top: 1rem;
    border-bottom: none !important;
}

.switch-mode button {
    background-color: transparent;
    border: none;
    transition: .3s;
}

.switch-mode i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--switch-theme-btn);
    transition: .3s;
}

.switch-mode i.light-mode {
    display: none;
}

body.dark-mode .switch-mode i.dark-mode {
    display: none;
}

body.dark-mode .switch-mode i.light-mode {
    display: block;
}

.switch-mode i:hover {
    color: var(--switch-theme-btn-hover);
}

@media (min-width: 768px) {
    .switch-mode{
        position: unset;
    }
    .switch-mode i:hover {
    color: var(--switch-theme-btn-hover-lg);
}
}